In [2]:
'''
Question 1 - 
Create a list of squares of all numbers from 1 to 10.

Output - [1, 4, 9, 16, 25....100]
'''

'\nQuestion 1 - \nCreate a list of squares of all numbers from 1 to 10.\n\nOutput - [1, 4, 9, 16, 25....100]\n'

In [3]:
result = []

for i in range(1,11):
    result.append(i**2)

In [4]:
result

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
result1 = [ i**2 for i in range(1,11) ]

In [8]:
result1

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
'''
Question 2 - 
Given an input list of ages, create a new list telling whether that person is above 18 or under.

INPUT - [24, 45, 15, 12, 10, 19, 17, 20]
OUTPUT - [True, True, False, False, False, True, False, True]

NOTE - False for 18 as well.
'''

'\nQuestion 2 - \nGiven an input list of ages, create a new list telling whether that person is above 18 or under.\n\nINPUT - [24, 45, 15, 12, 10, 19, 17, 20]\nOUTPUT - [True, True, False, False, False, True, False, True]\n\nNOTE - False for 18 as well.\n'

In [11]:
A = [24, 45, 15, 12, 10, 19, 17, 20]

In [14]:
# Approach 1

result1 = []

for i in A:
    if i <= 18:
        result1.append(False)
    else:
        result1.append(True)

In [15]:
result1

[True, True, False, False, False, True, False, True]

In [17]:
# Approach 1 Optimised

result1 = []

for i in A:
    result1.append(i > 18)

In [18]:
result1

[True, True, False, False, False, True, False, True]

In [19]:
# Approach 2

result2 = [ i > 18 for i in A ]

In [20]:
result2

[True, True, False, False, False, True, False, True]

In [21]:
'''
Question 3 - 

Write a one line python code to print the multiplication table from 1 to 10.

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
.
.
.
.
.
10 20 30 40 50 60 70 80 90 100
'''

'\nQuestion 3 - \n\nWrite a one line python code to print the multiplication table from 1 to 10.\n\n1 2 3 4 5 6 7 8 9 10\n2 4 6 8 10 12 14 16 18 20\n.\n.\n.\n.\n.\n10 20 30 40 50 60 70 80 90 100\n'

In [22]:
mul_table = [ [ i*j for j in range(1,11) ] for i in range(1,11) ]

In [23]:
mul_table

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [25]:
mul_table = []

for i in range(1,11):
    row = []
    
    for j in range(1,11):
        row.append(i*j)
        
    mul_table.append(row)

In [26]:
mul_table

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [27]:
result = [ i*j for j in range(1,11) for i in range(1,11) ]

In [29]:
# result

In [34]:
result = [ (i, j) for j in [1, 2] for i in ["A", "B"] ] 
# Outermost loop is at the left and we go to innermost towards the right

# OUTPUT
# [("A", 1), ("A", 2), ("B", 1), ("B", 2)]

In [35]:
result

[('A', 1), ('B', 1), ('A', 2), ('B', 2)]

In [36]:
s1 = { i for i in range(1,6) }

In [37]:
s1

{1, 2, 3, 4, 5}

In [46]:
d1 = { f"value - {i}" : i for i in range(1, 6) }

In [39]:
d1

{'value - 1': 1,
 'value - 2': 2,
 'value - 3': 3,
 'value - 4': 4,
 'value - 5': 5}

In [47]:
d2 = { i : i**2 for i in range(1, 6) }

In [48]:
d2

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [40]:
t1 = ( i for i in range(1,11) )

In [42]:
t1 # we'll learn about generator objects later

In [43]:
tuple(t1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [44]:
s1 = "i for i in range(1, 11)"

In [45]:
s1

'i for i in range(1, 11)'

In [58]:
def coolest_pattern_ever(n):
    for i in range(n):
        for j in range(n):
            print(max(i + 1, j + 1, n - i, n - j), end = " ")
        
        print()

In [57]:
coolest_pattern_ever(3)

3 3 3 3 2 3 3 3 3